{% extends "_base.html" %}

{% set title = "ading2210's Blog" %}
{% set description = "ading2210's Blog Posts" %}
{% set url = "https://ading.dev/blog" %}

{% block content %}
  <h1>Blog Posts:</h2>
  <ul>
    <li><a href="/blog/posts/echoanywhere.html">11/18/23 - Abusing the Chromebook Perks System to Steal Promo Codes</a></li>
    <li><a href="/blog/posts/securly_bypass.html">10/26/23 - Bypassing Securly by Manipulating the URL</a></li>
    <li><a href="/blog/posts/dextensify.html">8/20/23 - Dextensify: Disabling Admin-Installed Chrome Extensions From Any Webpage</a></li>
    <li><a href="/blog/posts/quickview.html">5/3/23 - Adventures in Point-Blank: Exploiting QuickOffice on Chrome OS</a></li>
  </ul>
{% endblock %}