* {
  font-family: "Fredoka";
  color: #d4d3da;
}
/* generic element styling */
a {
  color: #bc7ae6;
}
a:hover {
  color: #a64ede;
}

h1, h2 {
  margin-bottom: 8px;
}

ul {
  margin-top: 0px;
}

pre, code {
  font-family: monospace;
  background-color: #241e3a;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #3a344e;
  overflow-x: auto;
}
pre {
  padding: 8px;
}
pre code {
  background-color: transparent;
  border: none;
  padding: 0px;
}

/* page styling */
html, body {
  margin: 0px;
  height: 100%
}

body {
  display: flex;
  flex-direction: column;

  background-color: #241e3a;
}

header {
  background-color: #1d1830;
  border-bottom: 1px solid #2f2944;
  display: flex;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;
  padding-left: 4px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#links_container {
  display: flex;
  gap: 16px;
}
#links_container > a {
  color: #afaeb8;
  text-decoration:none;
  
  margin-top: 8px;
  margin-bottom: 8px;
}
#links_container > a:hover {
  color: #ffffff;
}

#name_container {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration:none;
}
#site_name {
  margin: 0px;
}

#content_wrapper {
  padding: 16px;
  flex-grow: 1
}
#article_div {
  max-width: 800px;
  object-fit: contain;

  background-color: #2f2944;
  border: 1px solid #3a344e;
  border-radius: 8px;

  padding: 4px;
  padding-left: 16px;
  padding-right: 16px;

  margin-left: auto;
  margin-right: auto;
}
#article_div img {
  max-width: 100%;
  max-height: 100%;
}
#article_div p, #article_div li {
  line-height: 1.6;
}

#footer {
  width: 100%;
  background-color: #1d1830;
  border-top: 1px solid #2f2944;
  box-sizing: border-box;
  padding: 12px
}
#footer p {
  margin: 0px;
  font-size: 14px;
}