<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ title }}</title>

    <meta name="description" content="{{ description }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="{{ url or 'https://ading.dev'}}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="{{ image or 'https://ading.dev/assets/img/icon.png' }}">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#443e57">

    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400&display=swap">

    {% block head %}
    {% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <a href="/" id="name_container">
          <img id="site_logo" srcset="/assets/img/icon_96px.png 2x" src="/assets/img/icon_48px.png" width="48px" height="48px" alt="website logo">
          <h1 id="site_name">ading2210</h1>
        </a>
        <div id="links_container">
          <a href="/">About</a>
          <a href="/projects/">Projects</a>
          <a href="/blog/">Blog</a>
        </div>
      </nav>
    </header>

    <div id="content_wrapper">
      <div id="article_div">
        {% block content %}
        {% endblock %}

        {% if back_button %}
          <p><a href="{{ back_button }}"><- Back</a></p>
        {% endif %}
      </div>
    </div>

    <div id="footer">
      <p>Copyright © 2024 ading2210. All rights reserved. The source code for this website can be found on my <a href="https://github.com/ading2210/website-rewrite/" target="_blank">Github</a>.</p>
    </div>

    </body>
</html>