{% extends "_base.html" %}

{% set title = "ading2210's Personal Website" %}
{% set description = "ading2210's Personal Website" %}

{% block content %}
  <p>This website is currently unfinished.</p>

  <h2>Contact</h2>
  <ul>
    <li>Email - <a href="mailto:allen@ading.dev"><code>allen@ading.dev</code></a></li>
    <li>Github - <a href="https://github.com/ading2210"><code>ading2210</code></a></li>
    <li>Discord - <a href="https://edpuzzle.hs.vc/discord.html"><code>vk6#7391</code></a></li>
  </ul>
{% endblock %}