{% extends "_base.html" %}

{% set title = "ading2210's Personal Website" %}
{% set description = "ading2210's Personal Website" %}

{% block content %}
  <h2>Hello!</h2>
  <p>I'm Allen, a high school student with an interest in programming, web development, and cybersecurity.</p>

  <p>For a list of my projects, take a look <a href="/projects">here</a> or on my Github which is linked below.</p>

  <h2>Contact</h2>
  <ul>
    <li>Email - <a href="mailto:allen@ading.dev"><code>allen@ading.dev</code></a></li>
    <li>Github - <a href="https://github.com/ading2210"><code>ading2210</code></a></li>
    <li>Discord - <a href="https://edpuzzle.hs.vc/discord.html"><code>@vk6</code></a></li>
  </ul>
{% endblock %}