{% extends "_base.html" %}

{% set title = "ading2210's Projects" %}
{% set description = "ading2210's Projects" %}
{% set url = "https://ading.dev/projects" %}

{% block content %}
  <h1>My Projects:</h1>
  <ul>
    <li><a href="https://github.com/ading2210/quickview/">quickview</a> - A universal Chrome OS webview exploit which utilizes the QuickOffice component extension.</li>
    <li><a href="https://github.com/ading2210/poe-api/">poe-api</a> - A reverse engineered Python API wrapper for Quora's Poe, which provides free access to ChatGPT, GPT-4, and Claude.</li>
    <li><a href="https://github.com/ading2210/openplayground-api/">openplayground-api</a> - A reverse engineered Python API wrapper for OpenPlayground (nat.dev)</li>
    <li><a href="https://github.com/ading2210/edpuzzle-answers/">edpuzzle-answers</a> - A Javascript bookmarklet that can get the answers for Edpuzzle assignments, skip the video, change the video speed, and automatically answer the questions.</li>
    <li><a href="https://github.com/ading2210/edulastic-tools/">edulastic-tools</a> - A collection of scripts for screwing around with the online testing software Edulastic.</li>
    <li><a href="https://github.com/ading2210/openq/">openq</a> - An open-source frontend for Q Student Connection.</li>
    <li><a href="https://github.com/ading2210/chatresponder/">chatresponder</a> - A Minecraft mod that automatically runs certain commands or says things in chat.</li>
    <li><a href="https://github.com/ASmallYawn/SanRamonHackathon/">Safe Vacation</a> - A COVID risk calculator website. Won first place at the <a href="https://sanramonhackathon.org/2022-home" target="_blank">2022 San Ramon Hackathon</a>.</li>
    <li><a href="https://github.com/ading2210/video2git/">video2git</a> - A Python script that can convert a video into commits on the Github contributions graph.</li>
    <li><a href="https://github.com/ading2210/passmark-scraper/">passmark-scraper</a> - A Python library that can scrape various websites owned by Passmark for their benchmark results.</li>
    <li><a href="https://github.com/ading2210/ascii-art/">ascii-art</a> - A simple program to convert images to braille unicode characters.</li>
    <li><a href="https://github.com/ading2210/chatlink/">chatlink</a> - A Minecraft to Discord chat integration script written in Python.</li>
    <li><a href="https://github.com/ading2210/mcutils/">mcutils</a> - A collection of utilities for interacting with Minecraft servers.</li>
    <li><a href="https://github.com/ading2210/snake-cli/">snake-cli</a> - Snake in the terminal, made with python and curses.</li>
    <li><a href="https://github.com/ading2210/youtube-comments-viewer/">youtube-comments-viewer</a> - Shows the comments and replies for a Youtube video. Useful for bypassing restricted mode.</li>
  </ul>
{% endblock %}