{% extends "_base.html" %}

{% set title = "ading2210's Projects" %}
{% set description = "A list of projects I have made or contributed to." %}
{% set url = "https://ading.dev/projects/" %}

{% block content %}
  <h1>My Projects:</h1>
  <ul>
    <li><a href="https://github.com/ading2210/shimboot">shimboot</a> - A collection of scripts for patching a Chrome OS RMA shim to serve as a bootloader for a standard Linux distribution</li>
    <li><a href="https://github.com/ading2210/freedns-client">freedns-client</a> - A reverse engineered Python API wrapper for FreeDNS.afraid.org, which allows for the free registration of subdomains.</li>
    <li><a href="https://github.com/ading2210/dextensify">dextensify</a> - An exploit which lets you disable most admin-installed Chrome extensions from any webpage.</li>
    <li><a href="https://github.com/ading2210/ext-watcher">ext-watcher</a> - A Python script which provides update notifications for Chrome extensions, as well as automatic deobfuscation and diff generation.</li>
    <li><a href="https://github.com/ading2210/openai-key-scraper">openai-key-scraper</a> - A Python script to scrape OpenAI API keys that are exposed on public Replit projects.</li>
    <li><a href="https://github.com/ading2210/vercel-llm-api">vercel-llm-api</a> -  A reverse engineered Python API wrapper for the Vercel AI Playground, which provides free access to many large language models without needing an account.</li>
    <li><a href="https://github.com/ading2210/quickview/">quickview</a> - A universal Chrome OS webview exploit which utilizes the QuickOffice component extension.</li>
    <li><a href="https://github.com/ading2210/poe-api/">poe-api</a> - A reverse engineered Python API wrapper for Quora's Poe, which provides free access to ChatGPT, GPT-4, and Claude.</li>
    <li><a href="https://github.com/ading2210/openplayground-api/">openplayground-api</a> - A reverse engineered Python API wrapper for OpenPlayground (nat.dev)</li>
    <li><a href="https://github.com/ading2210/edpuzzle-answers/">edpuzzle-answers</a> - A Javascript bookmarklet that can get the answers for Edpuzzle assignments, skip the video, change the video speed, and automatically answer the questions.</li>
    <li><a href="https://github.com/ading2210/edulastic-tools/">edulastic-tools</a> - A collection of scripts for screwing around with the online testing software Edulastic.</li>
    <li><a href="https://github.com/ading2210/openq/">openq</a> - An open-source frontend for Q Student Connection.</li>
    <li><a href="https://github.com/ading2210/chatresponder/">chatresponder</a> - A Minecraft mod that automatically runs certain commands or says things in chat.</li>
    <li><a href="https://github.com/ASmallYawn/SanRamonHackathon/">Safe Vacation</a> - A COVID risk calculator website. Won first place at the <a href="https://sanramonhackathon.org/2022-home" target="_blank">2022 San Ramon Hackathon</a>.</li>
    <li><a href="https://github.com/ading2210/video2git/">video2git</a> - A Python script that can convert a video into commits on the Github contributions graph.</li>
    <li><a href="https://github.com/ading2210/passmark-scraper/">passmark-scraper</a> - A Python library that can scrape various websites owned by Passmark for their benchmark results.</li>
    <li><a href="https://github.com/ading2210/ascii-art/">ascii-art</a> - A simple program to convert images to braille unicode characters.</li>
    <li><a href="https://github.com/ading2210/chatlink/">chatlink</a> - A Minecraft to Discord chat integration script written in Python.</li>
    <li><a href="https://github.com/ading2210/mcutils/">mcutils</a> - A collection of utilities for interacting with Minecraft servers.</li>
    <li><a href="https://github.com/ading2210/snake-cli/">snake-cli</a> - Snake in the terminal, made with python and curses.</li>
    <li><a href="https://github.com/ading2210/youtube-comments-viewer/">youtube-comments-viewer</a> - Shows the comments and replies for a Youtube video. Useful for bypassing restricted mode.</li>
  </ul>
  <h2>Projects I Have Contributed To:</h2>
  <ul>
    <li><a href="https://github.com/xtekky/gpt4free">xtekky/gpt4free</a> - Contributed the <a href="https://github.com/xtekky/gpt4free/tree/8cb80866b06c76ce11ea3aff9ebc0ff01c080c52/g4f/.v1/gpt4free/deepai">DeepAI</a>, <a href="https://github.com/xtekky/gpt4free/blob/main/g4f/.v1/gpt4free/quora/api.py">Poe</a>, and <a href="https://github.com/xtekky/gpt4free/blob/8cb80866b06c76ce11ea3aff9ebc0ff01c080c52/g4f/Provider/Providers/Vercel.py#L44">Vercel</a> wrappers.</li>
    <li><a href="https://github.com/MercuryWorkshop/halcyon-website">MercuryWorkshop/halcyon-website</a> - Basically wrote the entire website apart from the contents.</li>
    <li><a href="https://github.com/MercuryWorkshop/hg-website">MercuryWorkshop/hg-website</a> - Loading the profile pictures <a href="https://github.com/MercuryWorkshop/hg-website/pull/25">locally</a> instead of off of Discord.</li>
  </ul>
{% endblock %}